@font-face {
  font-family: "SF Pro Display";
  src: url("./Assets/fonts/SFPRODISPLAYREGULAR.OTF");
  /* font-weight: 500;
  font-style: normal;
  font-display: swap;  */
}
body {
  font-family: "SF Pro Display";
}
